# --- OS 공통 ---
.DS_Store
Thumbs.db

# --- Server ---
**/Servers/

# --- Maven/빌드 산출물 ---
**/target/
**/out/
**/bin/
**/surefire-reports/
**/failsafe-reports/
**/site/
**/jacoco.exec

# --- IDE/툴 ---
# Eclipse / STS4
**/.project
**/.classpath
**/.settings/
**/.factorypath
**/.apt_generated/
**/.externalToolBuilders/
**/.recommenders/
**/.springBeans
**/.sts4-cache/
**/.metadata/

# IntelliJ
**/.idea/
**/*.iml
**/*.ipr
**/*.iws

# VS Code
**/.vscode/

# --- 로그/임시 ---
**/logs/
**/*.log
**/*.tmp
**/~$*
**/*.swp
**/*.swo